@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Syne", sans-serif;
  background-color: #f1f1f1;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 550px;
}

.formBuah,
.wraper-table-buah,
.timer-wraper {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

h1 {
  text-align: center;
}
button {
  margin-top: 10px;
  border-radius: 50px;
  background-color: white;
}

.tName {
  width: 150px;
}

.tDaftar {
  vertical-align: bottom;
}

.wraper-table-buah,
.timer-wraper,
.input-wraper {
  margin-top: 20px;
}

.tableBuah-tb {
  width: 100%;
  border: 1px solid black;
}

.tableBuah thead td {
  background-color: #aaa;
  text-align: center;
}

.tableBuah tbody td {
  background-color: #ff7f50;
}

.timer-wraper {
  font-size: 1.3em;
}

.input-wraper table {
  width: 100%;
}

.input-wraper tr {
  height: 1.7em;
}

.input-wraper input {
  border: 0.3px solid #888;
  border-radius: 8px;
  box-shadow: 1px 2px 2px #ddd;
  line-height: 1.4em;
  color: #333;
}
