@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Syne", sans-serif;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 550px;
}

.formBuah {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
}
button {
  margin-top: 10px;
  border-radius: 50px;
  background-color: white;
}

.tName {
  width: 150px;
}

.tDaftar {
  vertical-align: bottom;
}

TableBuah {
  margin-top: 20px;
}

.tableBuah-tb {
  width: 100%;
  border: 1px solid black;
}

thead td {
  background-color: #aaa;
  text-align: center;
}

tbody td {
  background-color: #ff7f50;
}
